--
-- PostgreSQL database dump
--

\restrict taxXXjYblHz1JTGgMtAtxcVSWwFrZMusbYI6SIRJyfcTUiN5P03jpg7zwC4T0l2

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alert_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alert_groups (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    is_read boolean NOT NULL,
    summary text,
    app_id bigint NOT NULL,
    child_count integer NOT NULL,
    severity character varying(255),
    status character varying(255) NOT NULL,
    suggested_action text,
    updated_at timestamp(6) without time zone,
    CONSTRAINT alert_groups_severity_check CHECK (((severity)::text = ANY ((ARRAY['CRITICAL'::character varying, 'WARNING'::character varying, 'INFO'::character varying])::text[]))),
    CONSTRAINT alert_groups_status_check CHECK (((status)::text = ANY ((ARRAY['NEW'::character varying, 'ACKNOWLEDGED'::character varying, 'RESOLVED'::character varying])::text[])))
);


ALTER TABLE public.alert_groups OWNER TO postgres;

--
-- Name: alert_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.alert_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alert_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alerts (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    failure_count integer NOT NULL,
    notification_sent character varying(255),
    severity character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    alert_group_id bigint,
    app_id bigint NOT NULL,
    check_id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    CONSTRAINT alerts_notification_sent_check CHECK (((notification_sent)::text = ANY (ARRAY[('EMAIL'::character varying)::text, ('SMS'::character varying)::text, ('DASHBOARD'::character varying)::text]))),
    CONSTRAINT alerts_severity_check CHECK (((severity)::text = ANY ((ARRAY['CRITICAL'::character varying, 'WARNING'::character varying, 'INFO'::character varying])::text[]))),
    CONSTRAINT alerts_status_check CHECK (((status)::text = ANY (ARRAY[('NEW'::character varying)::text, ('ACKNOWLEDGED'::character varying)::text, ('RESOLVED'::character varying)::text])))
);


ALTER TABLE public.alerts OWNER TO postgres;

--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.alerts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alerts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: apps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.apps (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description character varying(255),
    environment character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    url character varying(255) NOT NULL,
    CONSTRAINT apps_environment_check CHECK (((environment)::text = ANY (ARRAY[('PRODUCTION'::character varying)::text, ('DEVELOPMENT'::character varying)::text, ('UAT'::character varying)::text])))
);


ALTER TABLE public.apps OWNER TO postgres;

--
-- Name: apps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.apps ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.apps_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: check_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.check_results (
    id bigint NOT NULL,
    details text,
    duration_ms bigint,
    error_message character varying(255),
    executed_at timestamp(6) without time zone NOT NULL,
    status character varying(255) NOT NULL,
    app_id bigint NOT NULL,
    check_id bigint NOT NULL,
    CONSTRAINT check_results_status_check CHECK (((status)::text = ANY (ARRAY[('PASSED'::character varying)::text, ('FAILED'::character varying)::text])))
);


ALTER TABLE public.check_results OWNER TO postgres;

--
-- Name: check_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.check_results ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.check_results_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: checks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checks (
    dtype character varying(31) NOT NULL,
    id bigint NOT NULL,
    check_type character varying(255) NOT NULL,
    consecutive_threshold integer NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    cron_expression character varying(255) NOT NULL,
    description character varying(255),
    name character varying(255) NOT NULL,
    severity character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    app_id bigint NOT NULL,
    CONSTRAINT checks_check_type_check CHECK (((check_type)::text = ANY (ARRAY[('CLUSTER'::character varying)::text, ('DATA'::character varying)::text, ('FILE'::character varying)::text]))),
    CONSTRAINT checks_severity_check CHECK (((severity)::text = ANY ((ARRAY['CRITICAL'::character varying, 'WARNING'::character varying, 'INFO'::character varying])::text[]))),
    CONSTRAINT checks_status_check CHECK (((status)::text = ANY (ARRAY[('ENABLED'::character varying)::text, ('DISABLED'::character varying)::text])))
);


ALTER TABLE public.checks OWNER TO postgres;

--
-- Name: checks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.checks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.checks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cluster_checks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cluster_checks (
    auth_password character varying(255),
    auth_required boolean NOT NULL,
    auth_username character varying(255),
    expected_status_code integer NOT NULL,
    health_path character varying(255) NOT NULL,
    health_strategy character varying(255) NOT NULL,
    protocol character varying(255) NOT NULL,
    timeout_seconds integer NOT NULL,
    id bigint NOT NULL,
    CONSTRAINT cluster_checks_health_strategy_check CHECK (((health_strategy)::text = ANY (ARRAY[('ALL_UP'::character varying)::text, ('MAJORITY_UP'::character varying)::text])))
);


ALTER TABLE public.cluster_checks OWNER TO postgres;

--
-- Name: cluster_nodes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cluster_nodes (
    id bigint NOT NULL,
    ip_address character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    label character varying(255) NOT NULL,
    port integer NOT NULL,
    cluster_check_id bigint NOT NULL
);


ALTER TABLE public.cluster_nodes OWNER TO postgres;

--
-- Name: cluster_nodes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cluster_nodes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cluster_nodes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: data_checks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.data_checks (
    comparison_type character varying(255) NOT NULL,
    expected_value numeric(38,2),
    primary_db_host character varying(255) NOT NULL,
    primary_db_name character varying(255) NOT NULL,
    primary_db_password character varying(255) NOT NULL,
    primary_db_port integer NOT NULL,
    primary_db_type character varying(255) NOT NULL,
    primary_db_username character varying(255) NOT NULL,
    querya text NOT NULL,
    queryb text,
    secondary_db_host character varying(255),
    secondary_db_name character varying(255),
    secondary_db_password character varying(255),
    secondary_db_port integer,
    secondary_db_type character varying(255),
    secondary_db_username character varying(255),
    tolerance_value numeric(38,2),
    id bigint NOT NULL,
    CONSTRAINT data_checks_comparison_type_check CHECK (((comparison_type)::text = ANY (ARRAY[('EQUALS'::character varying)::text, ('NOT_ZERO'::character varying)::text, ('EQUALS_EXPECTED'::character varying)::text, ('SOURCE_GREATER'::character varying)::text, ('EQUALS_WITH_TOLERANCE'::character varying)::text]))),
    CONSTRAINT data_checks_primary_db_type_check CHECK (((primary_db_type)::text = ANY (ARRAY[('POSTGRESQL'::character varying)::text, ('MYSQL'::character varying)::text, ('ORACLE'::character varying)::text]))),
    CONSTRAINT data_checks_secondary_db_type_check CHECK (((secondary_db_type)::text = ANY (ARRAY[('POSTGRESQL'::character varying)::text, ('MYSQL'::character varying)::text, ('ORACLE'::character varying)::text])))
);


ALTER TABLE public.data_checks OWNER TO postgres;

--
-- Name: file_check_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.file_check_rules (
    id bigint NOT NULL,
    rule character varying(255) NOT NULL,
    rule_order integer NOT NULL,
    value character varying(255),
    file_check_id bigint NOT NULL,
    CONSTRAINT file_check_rules_rule_check CHECK (((rule)::text = ANY (ARRAY[('EXISTS'::character varying)::text, ('NOT_TEMP'::character varying)::text, ('GENERATED_AFTER'::character varying)::text, ('SIZE_MIN'::character varying)::text, ('HEADER_MATCH'::character varying)::text, ('ROW_COUNT_MIN'::character varying)::text, ('CONTAINS_STRING'::character varying)::text, ('COLUMN_NUMERIC'::character varying)::text, ('NO_EMPTY_COLUMN'::character varying)::text])))
);


ALTER TABLE public.file_check_rules OWNER TO postgres;

--
-- Name: file_check_rules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.file_check_rules ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.file_check_rules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: file_checks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.file_checks (
    expected_format character varying(255) NOT NULL,
    file_name_pattern character varying(255) NOT NULL,
    folder_path character varying(255) NOT NULL,
    sftp_auth_method character varying(255) NOT NULL,
    sftp_host character varying(255) NOT NULL,
    sftp_password character varying(255),
    sftp_port integer NOT NULL,
    sftp_private_key text,
    sftp_username character varying(255) NOT NULL,
    id bigint NOT NULL,
    CONSTRAINT file_checks_expected_format_check CHECK (((expected_format)::text = ANY (ARRAY[('CSV'::character varying)::text, ('TXT'::character varying)::text]))),
    CONSTRAINT file_checks_sftp_auth_method_check CHECK (((sftp_auth_method)::text = ANY (ARRAY[('PASSWORD'::character varying)::text, ('SSH_KEY'::character varying)::text])))
);


ALTER TABLE public.file_checks OWNER TO postgres;

--
-- Name: node_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.node_results (
    id bigint NOT NULL,
    duration_ms bigint,
    error_message character varying(255),
    executed_at timestamp(6) without time zone NOT NULL,
    http_status_code integer,
    status character varying(255) NOT NULL,
    check_result_id bigint NOT NULL,
    cluster_node_id bigint NOT NULL,
    CONSTRAINT node_results_status_check CHECK (((status)::text = ANY (ARRAY[('PASSED'::character varying)::text, ('FAILED'::character varying)::text])))
);


ALTER TABLE public.node_results OWNER TO postgres;

--
-- Name: node_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.node_results ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.node_results_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: qrtz_blob_triggers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_blob_triggers (
    sched_name character varying(120) NOT NULL,
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    blob_data bytea
);


ALTER TABLE public.qrtz_blob_triggers OWNER TO postgres;

--
-- Name: qrtz_calendars; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_calendars (
    sched_name character varying(120) NOT NULL,
    calendar_name character varying(200) NOT NULL,
    calendar bytea NOT NULL
);


ALTER TABLE public.qrtz_calendars OWNER TO postgres;

--
-- Name: qrtz_cron_triggers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_cron_triggers (
    sched_name character varying(120) NOT NULL,
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    cron_expression character varying(120) NOT NULL,
    time_zone_id character varying(80)
);


ALTER TABLE public.qrtz_cron_triggers OWNER TO postgres;

--
-- Name: qrtz_fired_triggers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_fired_triggers (
    sched_name character varying(120) NOT NULL,
    entry_id character varying(95) NOT NULL,
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    instance_name character varying(200) NOT NULL,
    fired_time bigint NOT NULL,
    sched_time bigint NOT NULL,
    priority integer NOT NULL,
    state character varying(16) NOT NULL,
    job_name character varying(200),
    job_group character varying(200),
    is_nonconcurrent boolean,
    requests_recovery boolean
);


ALTER TABLE public.qrtz_fired_triggers OWNER TO postgres;

--
-- Name: qrtz_job_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_job_details (
    sched_name character varying(120) NOT NULL,
    job_name character varying(200) NOT NULL,
    job_group character varying(200) NOT NULL,
    description character varying(250),
    job_class_name character varying(250) NOT NULL,
    is_durable boolean NOT NULL,
    is_nonconcurrent boolean NOT NULL,
    is_update_data boolean NOT NULL,
    requests_recovery boolean NOT NULL,
    job_data bytea
);


ALTER TABLE public.qrtz_job_details OWNER TO postgres;

--
-- Name: qrtz_locks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_locks (
    sched_name character varying(120) NOT NULL,
    lock_name character varying(40) NOT NULL
);


ALTER TABLE public.qrtz_locks OWNER TO postgres;

--
-- Name: qrtz_paused_trigger_grps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_paused_trigger_grps (
    sched_name character varying(120) NOT NULL,
    trigger_group character varying(200) NOT NULL
);


ALTER TABLE public.qrtz_paused_trigger_grps OWNER TO postgres;

--
-- Name: qrtz_scheduler_state; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_scheduler_state (
    sched_name character varying(120) NOT NULL,
    instance_name character varying(200) NOT NULL,
    last_checkin_time bigint NOT NULL,
    checkin_interval bigint NOT NULL
);


ALTER TABLE public.qrtz_scheduler_state OWNER TO postgres;

--
-- Name: qrtz_simple_triggers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_simple_triggers (
    sched_name character varying(120) NOT NULL,
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    repeat_count bigint NOT NULL,
    repeat_interval bigint NOT NULL,
    times_triggered bigint NOT NULL
);


ALTER TABLE public.qrtz_simple_triggers OWNER TO postgres;

--
-- Name: qrtz_simprop_triggers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_simprop_triggers (
    sched_name character varying(120) NOT NULL,
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    str_prop_1 character varying(512),
    str_prop_2 character varying(512),
    str_prop_3 character varying(512),
    int_prop_1 integer,
    int_prop_2 integer,
    long_prop_1 bigint,
    long_prop_2 bigint,
    dec_prop_1 numeric(13,4),
    dec_prop_2 numeric(13,4),
    bool_prop_1 boolean,
    bool_prop_2 boolean
);


ALTER TABLE public.qrtz_simprop_triggers OWNER TO postgres;

--
-- Name: qrtz_triggers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qrtz_triggers (
    sched_name character varying(120) NOT NULL,
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    job_name character varying(200) NOT NULL,
    job_group character varying(200) NOT NULL,
    description character varying(250),
    next_fire_time bigint,
    prev_fire_time bigint,
    priority integer,
    trigger_state character varying(16) NOT NULL,
    trigger_type character varying(8) NOT NULL,
    start_time bigint NOT NULL,
    end_time bigint,
    calendar_name character varying(200),
    misfire_instr smallint,
    job_data bytea
);


ALTER TABLE public.qrtz_triggers OWNER TO postgres;

--
-- Name: user_app_access; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_app_access (
    id bigint NOT NULL,
    assigned_at timestamp(6) without time zone NOT NULL,
    app_id bigint NOT NULL,
    assigner_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_app_access OWNER TO postgres;

--
-- Name: user_app_access_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_app_access ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_app_access_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    last_login timestamp(6) without time zone,
    modified_at timestamp(6) without time zone,
    must_change_password boolean NOT NULL,
    name character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY (ARRAY[('SYSTEM_ADMIN'::character varying)::text, ('ADMIN'::character varying)::text, ('USER'::character varying)::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: alert_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alert_groups (id, created_at, is_read, summary, app_id, child_count, severity, status, suggested_action, updated_at) FROM stdin;
\.


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: apps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.apps (id, created_at, description, environment, name, updated_at, url) FROM stdin;
1	2026-04-16 16:40:32.178884	Internal banking application for transaction processing and reporting	UAT	E-Banking	2026-04-16 16:40:32.178884	http://banking-node1:8080
2	2026-04-17 11:30:15.102273	\N	PRODUCTION	new app	2026-04-17 11:30:15.102273	http://new_app
\.


--
-- Data for Name: check_results; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: checks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cluster_checks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cluster_checks (auth_password, auth_required, auth_username, expected_status_code, health_path, health_strategy, protocol, timeout_seconds, id) FROM stdin;
o0YRducgrDuyLod2o/sVFYMXbBOR44jvmCE/E20vaNSWYFXy	t	admin	200	/actuator/health	MAJORITY_UP	http	10	1
\.


--
-- Data for Name: cluster_nodes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cluster_nodes (id, ip_address, is_active, label, port, cluster_check_id) FROM stdin;
1	banking-node1	t	Banking Node 1	8080	1
2	banking-node2	t	Banking Node 2	8080	1
3	banking-node3	t	Banking Node 3	8080	1
\.


--
-- Data for Name: data_checks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: file_check_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.file_check_rules (id, rule, rule_order, value, file_check_id) FROM stdin;
14	EXISTS	1	\N	5
15	CONTAINS_STRING	2	BATCH_STATUS: SUCCESS	5
16	EXISTS	1	\N	4
17	SIZE_MIN	2	1	4
18	HEADER_MATCH	3	date,source_account,target_account,amount,currency,status	4
\.


--
-- Data for Name: file_checks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: node_results; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: qrtz_blob_triggers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qrtz_blob_triggers (sched_name, trigger_name, trigger_group, blob_data) FROM stdin;
\.


--
-- Data for Name: qrtz_calendars; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qrtz_calendars (sched_name, calendar_name, calendar) FROM stdin;
\.


--
-- Data for Name: qrtz_cron_triggers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qrtz_cron_triggers (sched_name, trigger_name, trigger_group, cron_expression, time_zone_id) FROM stdin;
MonitoringScheduler	trigger-5	checks	0 0 */1 * * ?	Africa/Tunis
MonitoringScheduler	trigger-4	checks	0 0 */1 * * ?	Africa/Tunis
MonitoringScheduler	trigger-2	checks	0 0 */1 * * ?	Africa/Tunis
MonitoringScheduler	trigger-3	checks	0 0 */1 * * ?	Africa/Tunis
MonitoringScheduler	trigger-1	checks	0 0 */1 * * ?	Africa/Tunis
\.


--
-- Data for Name: qrtz_fired_triggers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qrtz_fired_triggers (sched_name, entry_id, trigger_name, trigger_group, instance_name, fired_time, sched_time, priority, state, job_name, job_group, is_nonconcurrent, requests_recovery) FROM stdin;
\.


--
-- Data for Name: qrtz_job_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: qrtz_locks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qrtz_locks (sched_name, lock_name) FROM stdin;
MonitoringScheduler	TRIGGER_ACCESS
\.


--
-- Data for Name: qrtz_paused_trigger_grps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qrtz_paused_trigger_grps (sched_name, trigger_group) FROM stdin;
\.


--
-- Data for Name: qrtz_scheduler_state; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qrtz_scheduler_state (sched_name, instance_name, last_checkin_time, checkin_interval) FROM stdin;
\.


--
-- Data for Name: qrtz_simple_triggers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qrtz_simple_triggers (sched_name, trigger_name, trigger_group, repeat_count, repeat_interval, times_triggered) FROM stdin;
\.


--
-- Data for Name: qrtz_simprop_triggers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qrtz_simprop_triggers (sched_name, trigger_name, trigger_group, str_prop_1, str_prop_2, str_prop_3, int_prop_1, int_prop_2, long_prop_1, long_prop_2, dec_prop_1, dec_prop_2, bool_prop_1, bool_prop_2) FROM stdin;
\.


--
-- Data for Name: qrtz_triggers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_app_access; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_app_access (id, assigned_at, app_id, assigner_id, user_id) FROM stdin;
5	2026-04-21 13:14:04.797966	1	1	3
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: alert_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alert_groups_id_seq', 1, false);


--
-- Name: alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alerts_id_seq', 28, true);


--
-- Name: apps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.apps_id_seq', 2, true);


--
-- Name: check_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.check_results_id_seq', 4031, true);


--
-- Name: checks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.checks_id_seq', 6, true);


--
-- Name: cluster_nodes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cluster_nodes_id_seq', 4, true);


--
-- Name: file_check_rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.file_check_rules_id_seq', 18, true);


--
-- Name: node_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.node_results_id_seq', 3957, true);


--
-- Name: user_app_access_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_app_access_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: alert_groups alert_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert_groups
    ADD CONSTRAINT alert_groups_pkey PRIMARY KEY (id);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: apps apps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apps
    ADD CONSTRAINT apps_pkey PRIMARY KEY (id);


--
-- Name: check_results check_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.check_results
    ADD CONSTRAINT check_results_pkey PRIMARY KEY (id);


--
-- Name: checks checks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checks
    ADD CONSTRAINT checks_pkey PRIMARY KEY (id);


--
-- Name: cluster_checks cluster_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cluster_checks
    ADD CONSTRAINT cluster_checks_pkey PRIMARY KEY (id);


--
-- Name: cluster_nodes cluster_nodes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cluster_nodes
    ADD CONSTRAINT cluster_nodes_pkey PRIMARY KEY (id);


--
-- Name: data_checks data_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_checks
    ADD CONSTRAINT data_checks_pkey PRIMARY KEY (id);


--
-- Name: file_check_rules file_check_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_check_rules
    ADD CONSTRAINT file_check_rules_pkey PRIMARY KEY (id);


--
-- Name: file_checks file_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_checks
    ADD CONSTRAINT file_checks_pkey PRIMARY KEY (id);


--
-- Name: node_results node_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.node_results
    ADD CONSTRAINT node_results_pkey PRIMARY KEY (id);


--
-- Name: qrtz_blob_triggers qrtz_blob_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_blob_triggers
    ADD CONSTRAINT qrtz_blob_triggers_pkey PRIMARY KEY (sched_name, trigger_name, trigger_group);


--
-- Name: qrtz_calendars qrtz_calendars_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_calendars
    ADD CONSTRAINT qrtz_calendars_pkey PRIMARY KEY (sched_name, calendar_name);


--
-- Name: qrtz_cron_triggers qrtz_cron_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_cron_triggers
    ADD CONSTRAINT qrtz_cron_triggers_pkey PRIMARY KEY (sched_name, trigger_name, trigger_group);


--
-- Name: qrtz_fired_triggers qrtz_fired_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_fired_triggers
    ADD CONSTRAINT qrtz_fired_triggers_pkey PRIMARY KEY (sched_name, entry_id);


--
-- Name: qrtz_job_details qrtz_job_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_job_details
    ADD CONSTRAINT qrtz_job_details_pkey PRIMARY KEY (sched_name, job_name, job_group);


--
-- Name: qrtz_locks qrtz_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_locks
    ADD CONSTRAINT qrtz_locks_pkey PRIMARY KEY (sched_name, lock_name);


--
-- Name: qrtz_paused_trigger_grps qrtz_paused_trigger_grps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_paused_trigger_grps
    ADD CONSTRAINT qrtz_paused_trigger_grps_pkey PRIMARY KEY (sched_name, trigger_group);


--
-- Name: qrtz_scheduler_state qrtz_scheduler_state_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_scheduler_state
    ADD CONSTRAINT qrtz_scheduler_state_pkey PRIMARY KEY (sched_name, instance_name);


--
-- Name: qrtz_simple_triggers qrtz_simple_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_simple_triggers
    ADD CONSTRAINT qrtz_simple_triggers_pkey PRIMARY KEY (sched_name, trigger_name, trigger_group);


--
-- Name: qrtz_simprop_triggers qrtz_simprop_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_simprop_triggers
    ADD CONSTRAINT qrtz_simprop_triggers_pkey PRIMARY KEY (sched_name, trigger_name, trigger_group);


--
-- Name: qrtz_triggers qrtz_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_triggers
    ADD CONSTRAINT qrtz_triggers_pkey PRIMARY KEY (sched_name, trigger_name, trigger_group);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: user_app_access user_app_access_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_app_access
    ADD CONSTRAINT user_app_access_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_qrtz_ft_inst_job_req_rcvry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_ft_inst_job_req_rcvry ON public.qrtz_fired_triggers USING btree (sched_name, instance_name, requests_recovery);


--
-- Name: idx_qrtz_ft_j_g; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_ft_j_g ON public.qrtz_fired_triggers USING btree (sched_name, job_name, job_group);


--
-- Name: idx_qrtz_ft_jg; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_ft_jg ON public.qrtz_fired_triggers USING btree (sched_name, job_group);


--
-- Name: idx_qrtz_ft_t_g; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_ft_t_g ON public.qrtz_fired_triggers USING btree (sched_name, trigger_name, trigger_group);


--
-- Name: idx_qrtz_ft_tg; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_ft_tg ON public.qrtz_fired_triggers USING btree (sched_name, trigger_group);


--
-- Name: idx_qrtz_ft_trig_inst_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_ft_trig_inst_name ON public.qrtz_fired_triggers USING btree (sched_name, instance_name);


--
-- Name: idx_qrtz_j_grp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_j_grp ON public.qrtz_job_details USING btree (sched_name, job_group);


--
-- Name: idx_qrtz_j_req_recovery; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_j_req_recovery ON public.qrtz_job_details USING btree (sched_name, requests_recovery);


--
-- Name: idx_qrtz_t_c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_c ON public.qrtz_triggers USING btree (sched_name, calendar_name);


--
-- Name: idx_qrtz_t_g; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_g ON public.qrtz_triggers USING btree (sched_name, trigger_group);


--
-- Name: idx_qrtz_t_j; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_j ON public.qrtz_triggers USING btree (sched_name, job_name, job_group);


--
-- Name: idx_qrtz_t_jg; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_jg ON public.qrtz_triggers USING btree (sched_name, job_group);


--
-- Name: idx_qrtz_t_n_g_state; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_n_g_state ON public.qrtz_triggers USING btree (sched_name, trigger_group, trigger_state);


--
-- Name: idx_qrtz_t_n_state; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_n_state ON public.qrtz_triggers USING btree (sched_name, trigger_name, trigger_group, trigger_state);


--
-- Name: idx_qrtz_t_next_fire_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_next_fire_time ON public.qrtz_triggers USING btree (sched_name, next_fire_time);


--
-- Name: idx_qrtz_t_nft_misfire; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_nft_misfire ON public.qrtz_triggers USING btree (sched_name, misfire_instr, next_fire_time);


--
-- Name: idx_qrtz_t_nft_st; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_nft_st ON public.qrtz_triggers USING btree (sched_name, trigger_state, next_fire_time);


--
-- Name: idx_qrtz_t_nft_st_misfire; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_nft_st_misfire ON public.qrtz_triggers USING btree (sched_name, misfire_instr, next_fire_time, trigger_state);


--
-- Name: idx_qrtz_t_nft_st_misfire_grp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_nft_st_misfire_grp ON public.qrtz_triggers USING btree (sched_name, misfire_instr, next_fire_time, trigger_group, trigger_state);


--
-- Name: idx_qrtz_t_state; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qrtz_t_state ON public.qrtz_triggers USING btree (sched_name, trigger_state);


--
-- Name: data_checks fk17m6fmo8nc7hc4d9yd9o1gvnl; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_checks
    ADD CONSTRAINT fk17m6fmo8nc7hc4d9yd9o1gvnl FOREIGN KEY (id) REFERENCES public.checks(id);


--
-- Name: checks fk5aeh32d58a3s81pqoso8xgv93; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checks
    ADD CONSTRAINT fk5aeh32d58a3s81pqoso8xgv93 FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: check_results fk5da8emtuhkssq0ousodf6jdpv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.check_results
    ADD CONSTRAINT fk5da8emtuhkssq0ousodf6jdpv FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: cluster_nodes fk5g6xdlof0q30aylaalt6oyqe1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cluster_nodes
    ADD CONSTRAINT fk5g6xdlof0q30aylaalt6oyqe1 FOREIGN KEY (cluster_check_id) REFERENCES public.cluster_checks(id);


--
-- Name: check_results fk5x3mvaca9jq7kn9btc19p6uus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.check_results
    ADD CONSTRAINT fk5x3mvaca9jq7kn9btc19p6uus FOREIGN KEY (check_id) REFERENCES public.checks(id);


--
-- Name: alerts fk99jifww2b4k78iic2r3tsj9he; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT fk99jifww2b4k78iic2r3tsj9he FOREIGN KEY (alert_group_id) REFERENCES public.alert_groups(id);


--
-- Name: file_checks fka8hisa0m1vldt6vlbo278nxcp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_checks
    ADD CONSTRAINT fka8hisa0m1vldt6vlbo278nxcp FOREIGN KEY (id) REFERENCES public.checks(id);


--
-- Name: alerts fkcegc0vqbx48xj4glogk9p0cn8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT fkcegc0vqbx48xj4glogk9p0cn8 FOREIGN KEY (check_id) REFERENCES public.checks(id);


--
-- Name: alerts fker3kf2ebvpsiadsni3dw3yjy8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT fker3kf2ebvpsiadsni3dw3yjy8 FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: node_results fkfgo2p1l0ko894jkqp5vpkji5k; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.node_results
    ADD CONSTRAINT fkfgo2p1l0ko894jkqp5vpkji5k FOREIGN KEY (check_result_id) REFERENCES public.check_results(id);


--
-- Name: user_app_access fkftkhbmfilpih8e1axi1f8wxm3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_app_access
    ADD CONSTRAINT fkftkhbmfilpih8e1axi1f8wxm3 FOREIGN KEY (assigner_id) REFERENCES public.users(id);


--
-- Name: user_app_access fkgtpf3i3bqfwukpt9tbb8c26oh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_app_access
    ADD CONSTRAINT fkgtpf3i3bqfwukpt9tbb8c26oh FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_app_access fkiearusi7t9dlso3k53x7wss28; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_app_access
    ADD CONSTRAINT fkiearusi7t9dlso3k53x7wss28 FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: file_check_rules fknpx2gr58bf6tig2c1s3l26rx2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_check_rules
    ADD CONSTRAINT fknpx2gr58bf6tig2c1s3l26rx2 FOREIGN KEY (file_check_id) REFERENCES public.file_checks(id);


--
-- Name: cluster_checks fkpgyt2bc437blm4xcj1qjb9s6s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cluster_checks
    ADD CONSTRAINT fkpgyt2bc437blm4xcj1qjb9s6s FOREIGN KEY (id) REFERENCES public.checks(id);


--
-- Name: node_results fkshg0fov6ipgahub3dpa8t3iwj; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.node_results
    ADD CONSTRAINT fkshg0fov6ipgahub3dpa8t3iwj FOREIGN KEY (cluster_node_id) REFERENCES public.cluster_nodes(id);


--
-- Name: alert_groups fksrlgrgmm0uc6pn87fnnboxexs; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert_groups
    ADD CONSTRAINT fksrlgrgmm0uc6pn87fnnboxexs FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: qrtz_blob_triggers qrtz_blob_triggers_sched_name_trigger_name_trigger_group_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_blob_triggers
    ADD CONSTRAINT qrtz_blob_triggers_sched_name_trigger_name_trigger_group_fkey FOREIGN KEY (sched_name, trigger_name, trigger_group) REFERENCES public.qrtz_triggers(sched_name, trigger_name, trigger_group);


--
-- Name: qrtz_cron_triggers qrtz_cron_triggers_sched_name_trigger_name_trigger_group_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_cron_triggers
    ADD CONSTRAINT qrtz_cron_triggers_sched_name_trigger_name_trigger_group_fkey FOREIGN KEY (sched_name, trigger_name, trigger_group) REFERENCES public.qrtz_triggers(sched_name, trigger_name, trigger_group);


--
-- Name: qrtz_simple_triggers qrtz_simple_triggers_sched_name_trigger_name_trigger_group_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_simple_triggers
    ADD CONSTRAINT qrtz_simple_triggers_sched_name_trigger_name_trigger_group_fkey FOREIGN KEY (sched_name, trigger_name, trigger_group) REFERENCES public.qrtz_triggers(sched_name, trigger_name, trigger_group);


--
-- Name: qrtz_simprop_triggers qrtz_simprop_triggers_sched_name_trigger_name_trigger_grou_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_simprop_triggers
    ADD CONSTRAINT qrtz_simprop_triggers_sched_name_trigger_name_trigger_grou_fkey FOREIGN KEY (sched_name, trigger_name, trigger_group) REFERENCES public.qrtz_triggers(sched_name, trigger_name, trigger_group);


--
-- Name: qrtz_triggers qrtz_triggers_sched_name_job_name_job_group_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qrtz_triggers
    ADD CONSTRAINT qrtz_triggers_sched_name_job_name_job_group_fkey FOREIGN KEY (sched_name, job_name, job_group) REFERENCES public.qrtz_job_details(sched_name, job_name, job_group);


--
-- PostgreSQL database dump complete
--

\unrestrict taxXXjYblHz1JTGgMtAtxcVSWwFrZMusbYI6SIRJyfcTUiN5P03jpg7zwC4T0l2

